@model PatientCarePlan.Models.CheckUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RespiratoryRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RespiratoryRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfPrescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfPrescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
